header {
  display: flex;
  justify-content: center;
  padding: 10px 40px;
}

h1 {
  font: 800 3rem "Goldman", serif;
  text-decoration: underline rgba(10, 8, 25, 0.845);
  color: rgba(10, 8, 25, 0.845);
}
